In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### so that u dont have warnings
from warnings import filterwarnings
filterwarnings('ignore')

In [3]:
from pandas import read_csv
df= read_csv("D:\Data Science Real World Use Cases S.S (Udemy)\Predict Success of Zomato Restaurant\zomato.csv")

# Results
print(f'Dataset shape: {df.shape}')
df.head()

Dataset shape: (51717, 17)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [4]:
df.isnull().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7775
votes                              0
phone                           1208
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [5]:
df.dropna(how='any',inplace=True)
df.isnull().sum()

url                            0
address                        0
name                           0
online_order                   0
book_table                     0
rate                           0
votes                          0
phone                          0
location                       0
rest_type                      0
dish_liked                     0
cuisines                       0
approx_cost(for two people)    0
reviews_list                   0
menu_item                      0
listed_in(type)                0
listed_in(city)                0
dtype: int64

In [6]:
df.duplicated().sum()

0

In [6]:
df.dtypes

url                            object
address                        object
name                           object
online_order                   object
book_table                     object
rate                           object
votes                           int64
phone                          object
location                       object
rest_type                      object
dish_liked                     object
cuisines                       object
approx_cost(for two people)    object
reviews_list                   object
menu_item                      object
listed_in(type)                object
listed_in(city)                object
dtype: object

In [7]:
### right now it has some NAN Values so it will be of float data-type,thats why very first I have to convert it into string then
### I have to remove this comma
df['approx_cost(for two people)'] = df['approx_cost(for two people)'].astype(str).apply(lambda x: x.replace(',', ''))

In [8]:
df['approx_cost(for two people)']=df['approx_cost(for two people)'].astype(float)

In [9]:
df['approx_cost(for two people)'].unique()

array([ 800.,  300.,  600.,  700.,  550.,  500.,  450.,  650.,  400.,
        750.,  200.,  850., 1200.,  150.,  350.,  250., 1500., 1300.,
       1000.,  100.,  900., 1100., 1600.,  950.,  230., 1700., 1400.,
       1350., 2200., 2000., 1800., 1900.,  180.,  330., 2500., 2100.,
       3000., 2800., 3400.,   40., 1250., 3500., 4000., 2400., 1450.,
       3200., 6000., 1050., 4100., 2300.,  120., 2600., 5000., 3700.,
       1650., 2700., 4500.])

In [10]:
df['rate'].unique()

array(['4.1/5', '3.8/5', '3.7/5', '4.6/5', '4.0/5', '4.2/5', '3.9/5',
       '3.0/5', '3.6/5', '2.8/5', '4.4/5', '3.1/5', '4.3/5', '2.6/5',
       '3.3/5', '3.5/5', '3.8 /5', '3.2/5', '4.5/5', '2.5/5', '2.9/5',
       '3.4/5', '2.7/5', '4.7/5', 'NEW', '2.4/5', '2.2/5', '2.3/5',
       '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5', '4.1 /5', '2.9 /5',
       '2.7 /5', '2.5 /5', '2.6 /5', '4.5 /5', '4.3 /5', '3.7 /5',
       '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '3.4 /5', '3.6 /5',
       '3.3 /5', '4.6 /5', '4.9 /5', '3.2 /5', '3.0 /5', '2.8 /5',
       '3.5 /5', '3.1 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5',
       '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

In [11]:
df = df.loc[df.rate !='NEW'] #getting rid of "NEW"

In [12]:
df['rate'].unique()

array(['4.1/5', '3.8/5', '3.7/5', '4.6/5', '4.0/5', '4.2/5', '3.9/5',
       '3.0/5', '3.6/5', '2.8/5', '4.4/5', '3.1/5', '4.3/5', '2.6/5',
       '3.3/5', '3.5/5', '3.8 /5', '3.2/5', '4.5/5', '2.5/5', '2.9/5',
       '3.4/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5', '4.8/5',
       '3.9 /5', '4.2 /5', '4.0 /5', '4.1 /5', '2.9 /5', '2.7 /5',
       '2.5 /5', '2.6 /5', '4.5 /5', '4.3 /5', '3.7 /5', '4.4 /5',
       '4.9/5', '2.1/5', '2.0/5', '1.8/5', '3.4 /5', '3.6 /5', '3.3 /5',
       '4.6 /5', '4.9 /5', '3.2 /5', '3.0 /5', '2.8 /5', '3.5 /5',
       '3.1 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5', '2.1 /5',
       '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

In [13]:
df['rate'] = df['rate'].astype(str).apply(lambda x: x.split('/')[0])

In [14]:
df['rate'].unique()

array(['4.1', '3.8', '3.7', '4.6', '4.0', '4.2', '3.9', '3.0', '3.6',
       '2.8', '4.4', '3.1', '4.3', '2.6', '3.3', '3.5', '3.8 ', '3.2',
       '4.5', '2.5', '2.9', '3.4', '2.7', '4.7', '2.4', '2.2', '2.3',
       '4.8', '3.9 ', '4.2 ', '4.0 ', '4.1 ', '2.9 ', '2.7 ', '2.5 ',
       '2.6 ', '4.5 ', '4.3 ', '3.7 ', '4.4 ', '4.9', '2.1', '2.0', '1.8',
       '3.4 ', '3.6 ', '3.3 ', '4.6 ', '4.9 ', '3.2 ', '3.0 ', '2.8 ',
       '3.5 ', '3.1 ', '4.8 ', '2.3 ', '4.7 ', '2.4 ', '2.1 ', '2.2 ',
       '2.0 ', '1.8 '], dtype=object)

In [21]:
df=df.drop(['address','name','votes', 'dish_liked','listed_in(city)'],axis=1) #Dropping the column like "phone" and "url" and saving the new dataset as "df"

In [22]:
df.head()

,online_order,book_table,rate,location,rest_type,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type)
0,Yes,Yes,4.1,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800.0,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet
1,Yes,No,4.1,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet
2,Yes,No,3.8,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800.0,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet
3,No,No,3.7,Banashankari,Quick Bites,"South Indian, North Indian",300.0,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet
4,No,No,3.8,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600.0,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet

In [24]:
df=df.drop(['reviews_list'],axis=1)

In [25]:
df.head()

,online_order,book_table,rate,location,rest_type,cuisines,approx_cost(for two people),menu_item,listed_in(type)
0,Yes,Yes,4.1,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800.0,[],Buffet
1,Yes,No,4.1,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800.0,[],Buffet
2,Yes,No,3.8,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800.0,[],Buffet
3,No,No,3.7,Banashankari,Quick Bites,"South Indian, North Indian",300.0,[],Buffet
4,No,No,3.8,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600.0,[],Buffet

In [27]:
df.shape

(23046, 9)

In [39]:
df['rate']=df['rate'].astype(str).astype(float)

In [40]:
 #Splitting features by data type
cat_features= [col for col in df.columns if df[col].dtype == 'O']
num_features= [col for col in df.columns if df[col].dtype != 'O']

In [41]:
cat_features

['online_order',
 'book_table',
 'location',
 'rest_type',
 'cuisines',
 'menu_item',
 'listed_in(type)']

In [42]:
num_features

['rate', 'approx_cost(for two people)']

In [43]:
for feature in cat_features:
    print('{} has total {} unique features'.format(feature, df[feature].nunique()))

online_order has total 2 unique features
book_table has total 2 unique features
location has total 88 unique features
rest_type has total 73 unique features
cuisines has total 1677 unique features
menu_item has total 5005 unique features
listed_in(type) has total 7 unique features

In [30]:
df['location'].nunique()

88

In [ ]:
df['menu_item'].value_counts()

In [45]:
df['total_cuisines'] = df['cuisines'].astype(str).apply(lambda x: len(x.split(',')))
df['total_rest_type'] = df['rest_type'].astype(str).apply(lambda x: len(x.split(',')))

In [50]:
df=df.drop(['menu_item'],axis=1)

In [51]:
df.head()

,online_order,book_table,rate,location,rest_type,cuisines,approx_cost(for two people),listed_in(type),total_cuisines,total_rest_type
0,Yes,Yes,4.1,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800.0,Buffet,3,1
1,Yes,No,4.1,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800.0,Buffet,3,1
2,Yes,No,3.8,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800.0,Buffet,3,2
3,No,No,3.7,Banashankari,Quick Bites,"South Indian, North Indian",300.0,Buffet,2,1
4,No,No,3.8,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600.0,Buffet,2,1

In [52]:
df=df.drop(['rest_type','cuisines'],axis=1)

In [53]:
df.head()

,online_order,book_table,rate,location,approx_cost(for two people),listed_in(type),total_cuisines,total_rest_type
0,Yes,Yes,4.1,Banashankari,800.0,Buffet,3,1
1,Yes,No,4.1,Banashankari,800.0,Buffet,3,1
2,Yes,No,3.8,Banashankari,800.0,Buffet,3,2
3,No,No,3.7,Banashankari,300.0,Buffet,2,1
4,No,No,3.8,Basavanagudi,600.0,Buffet,2,1

In [54]:
cat_features= [col for col in df.columns if df[col].dtype == 'O']
num_features= [col for col in df.columns if df[col].dtype != 'O']

In [55]:
cat_features

['online_order', 'book_table', 'location', 'listed_in(type)']

In [78]:
# Splitting the data
x = df.drop('rate', axis=1)
Y = df['rate']

In [79]:
x.head()

,online_order,book_table,location,approx_cost(for two people),listed_in(type),total_cuisines,total_rest_type
0,Yes,Yes,Banashankari,800.0,Buffet,3,1
1,Yes,No,Banashankari,800.0,Buffet,3,1
2,Yes,No,Banashankari,800.0,Buffet,3,2
3,No,No,Banashankari,300.0,Buffet,2,1
4,No,No,Basavanagudi,600.0,Buffet,2,1

In [62]:
from sklearn.preprocessing import LabelEncoder

In [80]:
lb = LabelEncoder()
x.iloc[:,0]=lb.fit_transform(x.iloc[:,0])
x.iloc[:,1]=lb.fit_transform(x.iloc[:,1])
lb1 = LabelEncoder()
x.iloc[:,2]=lb1.fit_transform(x.iloc[:,2])
lb2 = LabelEncoder()
x.iloc[:,4]=lb2.fit_transform(x.iloc[:,4])

In [81]:
x.head()

,online_order,book_table,location,approx_cost(for two people),listed_in(type),total_cuisines,total_rest_type
0,1,1,1,800.0,0,3,1
1,1,0,1,800.0,0,3,1
2,1,0,1,800.0,0,3,2
3,0,0,1,300.0,0,2,1
4,0,0,4,600.0,0,2,1

In [87]:
Y.head()

0    4.1
1    4.1
2    3.8
3    3.7
4    3.8
Name: rate, dtype: float64

In [82]:
from sklearn.model_selection import train_test_split
x_train, x_test, Y_train, Y_test = train_test_split(x, Y, test_size=.20, random_state=42)

In [94]:
pip install r2_score

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement r2_score (from versions: none)
ERROR: No matching distribution found for r2_score
WARNING: You are using pip version 21.1.2; however, version 21.2.4 is available.
You should consider upgrading via the 'C:\Users\ANSHUL\AppData\Local\Programs\Python\Python38\python.exe -m pip install --upgrade pip' command.

In [97]:
from sklearn.metrics import r2_score

In [98]:
from sklearn.ensemble import RandomForestRegressor
RF_Model=RandomForestRegressor(n_estimators=650,random_state=245,min_samples_leaf=.0001)
RF_Model.fit(x_train,Y_train)
Y_predict=RF_Model.predict(x_test)
r2_score(Y_test,Y_predict)

0.6667711567512808

In [100]:
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import  ExtraTreesRegressor

In [102]:
lr_model=LinearRegression()
lr_model.fit(x_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [104]:
from sklearn.metrics import r2_score
Y_pred=lr_model.predict(x_test)
r2_score(Y_test,Y_pred)

0.15889674075298488

In [105]:
#Preparing Extra Tree Regression
from sklearn.ensemble import  ExtraTreesRegressor
ET_Model=ExtraTreesRegressor(n_estimators = 120)
ET_Model.fit(x_train,Y_train)
Y_predict=ET_Model.predict(x_test)


from sklearn.metrics import r2_score
r2_score(Y_test,Y_predict)

0.6965400508709605

In [132]:
new_data=["Yes","Yes","Mysore Road",400,"Cafes",3,2]  # online order,book table,location, approx cost,listed in (t),total cuisines, rest_type
new_data[0]=lb.transform([new_data[0]])[0]
new_data[1]=lb.transform([new_data[1]])[0]
new_data[2]=lb1.transform([new_data[2]])[0]
new_data[4]=lb2.transform([new_data[4]])[0]

In [133]:
print(new_data)
ET_Model.predict([new_data])

[1, 1, 54, 400, 1, 3, 2]

array([4.25791667])